footer {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 2rem;

    bottom: 0;
    left: 0;

    a {
        img {
            max-width: 11rem;
        }
    }

    ul {
        display: flex;
        justify-content: end;
        gap: .75rem;

        li {
            a {
                font-size: .825rem;

                color: #000;
                text-transform: uppercase;
                
                letter-spacing: 1px;
            }
        }
    }
}