<header>
    <ul class="outer_header_list">
        <li>
            <ul class="header_inner_list">
                <li><a 
                        href="" 
                        #headerLink
                        (mouseover)="decreaseOpacity(0)" 
                        (mouseleave)="increaseOpacity()" 
                    >
                        NEW ARRIVALS
                    </a>
                </li>
                <li><a 
                        href="/products/jeans" 
                        #headerLink
                        (mouseover)="decreaseOpacity(1)" 
                        (mouseleave)="increaseOpacity()" 
                    >
                        JEANS
                    </a>
                </li>
            </ul>
        </li>
        
        <a href="/"><img src="../../../../assets/imgs/logo.svg" alt=""></a>
        
        <li>
            <ul class="header_inner_list">
                <li>
                    <a 
                        href="" 
                        #headerLink
                        (mouseover)="decreaseOpacity(2)" 
                        (mouseleave)="increaseOpacity()" 
                    >
                        BAGS
                    </a>
                </li>
                <li>
                    <a 
                        href="" 
                        #headerLink
                        (mouseover)="decreaseOpacity(3)" 
                        (mouseleave)="increaseOpacity()" 
                    >
                        WALLETS
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</header>