<header>
    <ul class="outer_header_list">
        <li>
            <ul class="header_inner_list">
                <li><a href="" (mouseover)="decreaseOpacity(0)" (mouseleave)="increaseOpacity()" #headerLink>NEW ARRIVALS</a></li>
                <li><a href="/jeans" (mouseover)="decreaseOpacity(1)" (mouseleave)="increaseOpacity()" #headerLink>JEANS</a></li>
            </ul>
        </li>
        
        <a href="/"><img src="../../../../assets/imgs/logo.svg" alt=""></a>
        
        <li>
            <ul class="header_inner_list">
                <li><a href="" (mouseover)="decreaseOpacity(2)" (mouseleave)="increaseOpacity()" #headerLink>BAGS</a></li>
                <li><a href="" (mouseover)="decreaseOpacity(3)" (mouseleave)="increaseOpacity()" #headerLink>WALLETS</a></li>
            </ul>
        </li>
    </ul>
</header>