header {
    width: 100%;
    background-color: #00000000;
    padding-block: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    left: 0;

    .outer_header_list {
        display: flex;
        align-items: center;
        gap: 4.5rem;

        a {
            img {
                width: 200px;
            }
        }

        li {
            ul {
                display: flex;
                align-items: center;
                gap: 5rem;

                li {
                    a {
                        color: #fff;
                        font-size: .925rem;

                        transition: .3s ease;

                        letter-spacing: 2px;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}