header {
    position: fixed;
    top: 0;
    left: 0;

    background-color: #fff;

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    padding: .75rem 5rem;

    z-index: 99;

    a {
        img {
            width: 200px;
        }
    }

    ul {
        display: flex;
        align-items: center;

        &:nth-child(2) {
            gap: 2rem;
        }
 
        &:nth-child(3) {
            gap: .5rem;
        }

        li {
            a {
                font-size: .825rem;
                letter-spacing: 2px;

                color: #000;
                text-transform: uppercase;

                transition: .2s ease;
            }

            img {
                width: 1.7rem;
            }
        }

        &:last-child {
            li {
                a {
                    font-size: .825rem;
                    color: #6c6c6c;
                }
            }
        }
    }
}