<header>
    <a href="/"><img src="../../../assets/imgs/logo-black.svg" alt=""></a>

    <ul>
        <li>
            <a href="/">
                new arrivals
            </a>
        </li>
        <li>
            <a href="/products/jeans">
                jeans
            </a>
        </li>
        <li>
            <a href="/products/bags">
                bags
            </a>
        </li>
        <li>
            <a href="/products/wallets">
                wallets
            </a>
        </li>
    </ul>

    <ul>
        <li><a href=""><img src="../../../assets/imgs/icons/bag-icon.svg" alt=""></a></li>
    </ul>
</header>