<section>
    <product-header></product-header>

    <main>
        <ul *ngFor="let prod of jeans">
            <li>
                {{prod.name}}
                {{prod.price}}
                {{prod.sizes}}
                {{prod.picture || ""}}
            </li>
        </ul>
    </main>

    <main>
        <form>
            <input 
            type="text" 
            placeholder="name"
            name="name"
            #name="ngModel"
            [(ngModel)]="newJeans.name"
            >
            <input 
            type="number" 
            placeholder="price"
            name="price"
            #price="ngModel"
            [(ngModel)]="newJeans.price"
            >
            <input 
            type="number" 
            placeholder="quantity"
            name="quantity"
            #quantity="ngModel"
            [(ngModel)]="newJeans.quantity"
            >
            <input 
            type="text" 
            placeholder="sizes(divided by space pls)"
            #sizes
            >

            <input 
            type="file" 
            #inputImg>

            <button (click)="postNewJeans()">send</button>
        </form>
    </main>
</section>